* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(194, 34, 146, 0.253);
}

.todo-container {
    width: 25%;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 50px;
}

h1 {
    color: red;
}

.taskInput {
    width: 100%;
    display: flex;
    position: relative;
}

input[type='text']{
    outline: none;
    border: 0;
    width: 100%;
    border-radius: 50px;
    padding: 18px;
}

#addButton {
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 16px 25px;
}

button:hover {
    background-color: blanchedalmond;
}

ul {
    height: 100%;
    width: 100%;
    list-style-type: none;
}

li {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

li.completed {
    text-decoration: line-through;
}

.remove {
    border: 0;
    display: flex;
    font-size: 1.2em;
    background-color: transparent;
    color: red;
    cursor: pointer;
}